
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.hero {
    width: 100%; // or whatever
    height: 100%;
    position: relative;
}

.hero-particles, .hero-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; // of .hero
    height: 100%;
    background-color: #111;
}

.hero-particles {
    z-index: 0;
}

.hero-content {
    z-index: 1;
}

#name {
  font-family: "Open Sans";
  font-weight: 100;
  position: relative;
  top: 55vh;
  left: 5vw;
  font-size: 15vh;
  color: white;
}

#profession {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: relative;
  top: 72vh;
  left: 12vw;
  color: #999;
  font-size: 5vh;
}

#downArrow {
  color: white;
  font-size: 5vh;
  width:100vw;
  text-align: center;
  position: relative;
  bottom: 0;
}
@media(max-width: 900px){
  .hero {
    text-align: center;
  }
}
.btn-outline-secondary {
  border-radius: 2;
  background-color: transparent;
  border-color: #000;
  color: #000;
  font-family: "Abel", sans-serif;
  text-align: center;
  align-items: center;
  padding: 8px 0px 3px 0px;
  width: 200px;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary.active{
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.hero > .fly-in-header {
  list-style: none;
  margin-bottom: -20px;
  align-self: center;
}
.hero > .fly-in-header li {
  display: inline-block;
  color: #000;
  font-family: "Abel", sans-serif;
  font-style: thin;
  margin-right: 25px;
  font-size: 125px;
  opacity: 1;
  transition: all 1.5s ease;
}

.hero > .fly-in-header.hidden li {
  opacity: 0;
}
.hero > .fly-in-header.hidden li:nth-child(1) { transform: translateX(-400px) translateY(-400px); }
.hero > .fly-in-header.hidden li:nth-child(2) { transform: translateX(400px) translateY(-20px); }
/*.hero > .fly-in-header.hidden li:nth-child(3) { transform: translateX(30px) translateY(100px); } */

#main-button {
  margin: 0px 20px 0px 20px;
  font-size: 20px;
}

.hero > .contactUs {
  position: absolute;
  bottom: 0;
  display: block;
  margin: -3vh auto 2vh auto;
  text-align: center;
  font-family: "Abel", sans-serif;
  color: black;
  text-decoration: none;
}

.hero > .contactUs:hover {
  color: black;
  text-decoration: underline;
}
